<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Budget List</h1>
    <div th:if="${#lists.isEmpty(groups)}">
        <p>No budgets found.</p>
    </div>
    <div th:if="${!#lists.isEmpty(groups)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Amount</th>
                <th scope="col">User ID</th>
                <th scope="col">Budget ID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group, iterStat : ${groups}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${group.category}"></td>
                <td th:text="${group.startDate}"></td>
                <td th:text="${group.endDate}"></td>
                <td th:text="${group.bamount}"></td>
                <td th:text="${user.userId}" th:value="${user.userId}"></td>
                <td th:text="${group.budgetId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
